[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "309 gerrit example "
[access "refs/*"]
	owner = group user/kseidl9
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kseidl9
	label-Verified = -1..+1 group user/kseidl9
	push = group user/kseidl9
	read = group user/kseidl9
	rebase = group user/kseidl9
	removeReviewer = group user/kseidl9
	submit = group user/kseidl9
[access "refs/heads/*"]
	create = group user/kseidl9
	push = +force group user/kseidl9
	pushMerge = group user/kseidl9
	read = group user/kseidl9
[access "refs/tags/*"]
	push = group user/kseidl9
	push = +force group user/kseidl9
